.main {
    grid-column: 1 / -1;
    grid-template-columns: 150px auto;
    grid-template-rows: 200px;
    display: grid;
    gap: 40px;
}

.avatar {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 2;
    grid-row: 1;
}

.description:last-child {
    margin-bottom: 0;
}

.item {
    font-weight: bolder;
    font-size: 20px;
    margin: 0  0 5px 0;
}

.name {
    grid-row: 5;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item a{
    text-decoration: none;
    color: navy;
}