.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 70px auto 70px;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 10px;
}

.my-site {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    gap: 30px;
    min-height: 89vh;
    grid-template-columns: 1fr 7fr;
}

body {
    background-color: #cde1ea;
}

.app-wrapper-content {

}